@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Insurance App login for Customer</h1>
    <p>Click <a asp-action="HomePage">here</a> to go to Home Page</p>
</div>
